streamlit
pandas
st-gsheets-connection
pytz
gspread
streamlit-qrcode-scanner
oauth2client

[theme]
base="dark"
primaryColor="#00FF00"
backgroundColor="#261ad6"
secondaryBackgroundColor="#ff0909"
textColor="#ffffff"
